<template lang="pug">
  .boardgame
    .title 大火龍桌遊
    .data-container
      .sub-title 累積使用人次： {{ Object.keys(originalData).length}}
      .sub-title 時間區間選擇：
      el-date-picker(
        v-model="timePeriod"
        type="daterange"
        align="right"
        unlink-panels
        range-separator="至"
        start-placeholder="開始日期"
        end-placeholder="结束日期"
        value-format="timestamp"
        @change="timeSelect"
        :picker-options="pickerOptions")
      .sub-title 篩選
      .filters
        .item(@click="addFilter(0)", :class="{'active': filters[0]==1}") 開始時間
        .item(@click="addFilter(1)", :class="{'active': filters[1]==1}") 遊玩時間
        .item(@click="addFilter(2)", :class="{'active': filters[2]==1}") 玩家人數
        .item(@click="addFilter(3)", :class="{'active': filters[3]==1}") 組別
        .item(@click="addFilter(4)", :class="{'active': filters[4]==1}") 總得分
        .item(@click="addFilter(5)", :class="{'active': filters[5]==1}") 總回合
        .item(@click="addFilter(6)", :class="{'active': filters[6]==1}") 角色
        .item(@click="addFilter(7)", :class="{'active': filters[7]==1}") 年齡
        .item(@click="addFilter(8)", :class="{'active': filters[8]==1}") 性別
        .item(@click="addFilter(9)", :class="{'active': filters[9]==1}") 得分
        .item(@click="addFilter(10)", :class="{'active': filters[10]==1}") 答對題
        .item(@click="addFilter(11)", :class="{'active': filters[11]==1}") 答錯題
        .item(@click="addFilter(12)", :class="{'active': filters[12]==1}") 正確率
        .item(@click="addFilter(13)", :class="{'active': filters[13]==1}") 錯誤率
      .table-container
        .col-title
          .item(v-if="filters[0]==1") 開始時間
          .item(v-if="filters[1]==1") 遊玩時間
          .item(v-if="filters[2]==1") 玩家人數
          .item(v-if="filters[3]==1") 組別
          .item(v-if="filters[4]==1") 總得分
          .item(v-if="filters[5]==1") 總回合
          .item(v-if="filters[6]==1") 角色
          .item(v-if="filters[7]==1") 年齡
          .item(v-if="filters[8]==1") 性別
          .item(v-if="filters[9]==1") 得分
          .item(v-if="filters[10]==1") 答對題
          .item(v-if="filters[11]==1") 答錯題
          .item(v-if="filters[12]==1") 正確率
          .item(v-if="filters[13]==1") 錯誤率
          .item 
        .col(v-for="student in data")
          .item(v-if="filters[0]==1") {{ parseInt(student.time) | moment("YYYY年MM月DD日 \n hh:mm:ss") }}
          .item(v-if="filters[1]==1 && student.endGameTime && student.gameStartTime") {{ parseInt(student.endGameTime) - parseInt(student.gameStartTime) | moment('hh:mm:ss') }}
          .item(v-if="filters[1]==1 && (!student.endGameTime || !student.gameStartTime) ") -
          .item(v-if="filters[2]==1") {{student.numberOfPlayer}}
          .item(v-if="filters[3]==1") {{student.team}}
          .item(v-if="filters[4]==1") {{calTotalPoints(student.player)}}
          .item(v-if="filters[5]==1") {{student.totalRounds}}
          .row
            .item(v-for="(player, p_key) in student.player")
              .child-item(v-if="filters[6]==1") {{p_key}}
              .child-item(v-if="filters[7]==1") {{player.age}}
              .child-item(v-if="filters[8]==1")(:class="{ 'boy' : player.sex == 0, 'girl' : player.sex == 1}") {{player.sex == 0? '男' : '女'}}
              .child-item(v-if="filters[9]==1") {{player.point}}
              .child-item(v-if="filters[10]==1") {{answerListFixer(player, true, student)}}
              .child-item(v-if="filters[11]==1") {{answerListFixer(player, false, student)}}
              .child-item(v-if="filters[12]==1") {{calCorrectRatio(player, true, student)}}
              .child-item(v-if="filters[13]==1") {{calCorrectRatio(player, false, student)}}
              .child-item {{'  '}}
    loading(:active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage")
</template>

<script>
// @ is an alias to /src
import firebase from 'firebase'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: 'boardgame',
  data(){
    return{
      data:[],
      originalData:[],
      filters:[1,1,1,1,1,1,1,1,1,1,1,1,1,1],
      pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        timePeriod: '',
        isLoading: true,
        fullPage: true,
        targetDB: ''
    }
  },
  components: {
    Loading
  },
  mounted(){
    this.initFB();
    let vm = this;
    this.targetDB.database().ref('/studentData/').once('value').then(function(snapchat){
      let _data =  snapchat.val();
      for(let item in _data){
        _data[item].time = item;
      }
      vm.data = vm._.sortBy(_data, [function(o){return parseInt(o.time.split('_')[1]) }]);
      vm.originalData = vm.data;
      vm.isLoading = false;
    });
  },
  methods:{
    initFB(){

      let firebaseConfig = {
        apiKey: "AIzaSyD_F0LSw0CzEJHUXBvNrRTcJniqS2VSM8U",
        authDomain: "firedragonboardgame2019.firebaseapp.com",
        databaseURL: "https://firedragonboardgame2019.firebaseio.com",
        projectId: "firedragonboardgame2019",
        storageBucket: "firedragonboardgame2019.appspot.com",
        messagingSenderId: "1043877257623",
        appId: "1:1043877257623:web:816c4be3651f2f06c2a4d2",
        measurementId: "G-XVKM6QDQW3"
      };
      if(firebase.apps.length > 0){
        this.targetDB = firebase.initializeApp(firebaseConfig, "board");
      }else{
        this.targetDB = firebase.initializeApp(firebaseConfig);
      }
      this.targetDB.analytics();
    },
    addFilter(_index){
      this.$set(this.filters, _index, (this.filters[_index]+1)%2);
    },
    timeSelect(){
      let result = [];
      for(let item of this.originalData){
        if(parseInt(item.time)*1000 >= parseInt(this.timePeriod[0]) && parseInt(item.time)*1000 <= parseInt(this.timePeriod[1]) ){
          result.push(item);
        }
      }
      this.data = result;
    },
    answerListFixer(_data, ansType, student){
      if(_data.hasOwnProperty("answerList")){
        let tempData = "";
        for(let _item in _data.answerList){
          if(_data.answerList[_item].questionState == ansType){
            tempData += '(' + _data.answerList[_item].questionName +') ';
          }
        }
        return tempData;
      }else{
        return "";
      }
    },
    calTotalPoints(player){
      let _total = 0;
      for(let _item in player){
        _total += player[_item].point;
      }
      return _total
    },
    calCorrectRatio(_data, ansType, student){
      if(_data.hasOwnProperty("answerList")){
        let correctCount = 0;
        let qCounter = 0;
        for(let _item in _data.answerList){
          if(_data.answerList[_item].hasOwnProperty('questionName')){
            if(_data.answerList[_item].questionName[0] != 't'){
              qCounter ++;
              if(_data.answerList[_item].questionState == true){
                correctCount++;
              }
            }
          }
        }
        if(ansType){
          if(qCounter==0 && correctCount != 0) return '100%';
          if(qCounter==0 && correctCount == 0) return '0%';
          return ((correctCount/qCounter).toFixed(2)*100).toFixed(2)+'%';
        }else{
          if(qCounter==0) return '0%';
          return ((100 - (correctCount/qCounter).toFixed(2)*100 )).toFixed(2) + '%';
        }
      }else{
        return "";
      }
    }
  }
}
</script>

<style lang="scss" scoped>
$item-width: 120px;
.boardgame{
  .title{
    color: white;
    text-align: center;
    font-size: 38px;
    margin: 20px;
    font-weight: 500;
  }
  .data-container{
    background-color: #fff;
    border-radius: 20px;
    height: 85%;
    width: 85%;
    margin: auto;
    padding: 30px;
    overflow: auto;
    .sub-title{
      font-size: 20px;
      margin: 15px 0;
      color: gray;
    }
    .filters{
      .item{
        border: 1px solid #A7A7A7;
        border-radius: 5px;
        padding: 5px 10px;
        display: inline-block;
        margin: 5px;
        cursor: pointer;
        &:hover{
          background-color: #A7A7A7;
          color: white;
        }
        &.active{
          color: white;
          background-color: #DA498B;
        }
      }
    }
    .table-container{
      // width: 100%;
      overflow: auto;
    }
    .col-title, .col{
      display: flex;
      .item{
        max-width: $item-width;
        min-width: $item-width;
        width: $item-width;
        text-align: right;
        font-size: 10px;
        margin: 5px 0;
      }
    }
    .row{
      .item{
        display: flex;
        .child-item{
          margin: 5px 0;
          max-width: $item-width;
          min-width: $item-width;
          width: $item-width;
        }

      }
    }


    .col-title{
      .item{
        font-size: 16px;
        margin: 10px 0;
        background-color: #3D147C;
        padding: 5px;
        box-sizing: border-box;
        color: white;
      }
    }
    .col{
      color: gray;
      border: 1px #F9CCBE solid;
      border-width: 0 0 1px 0;
    }
    .col:nth-child(even){
      // background-color: rgba(0,0,0,0.05);
    }
  }
  .boy{
    color: blue;
  }
  .girl{
    color: red;
  }
}
</style>
