<template>
  <div id="app">
    <div class="bg"></div>
    <div id="nav">
      <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
        <el-menu-item index="1">三興101特色課程後台系統</el-menu-item>
      </el-menu>
    </div>
    <keep-alive>
      <router-view/>
    </keep-alive>
  </div>
</template>


<script>
export default {
  name: 'appMain',
  data(){
    return{
      activeIndex: '1'
    }
  },
  mounted(){
    window.app = this;
    if(this.$route.path == "/") this.activeIndex = '1';
    else if(this.$route.path == "/exp") this.activeIndex = '2';
  },
  methods:{
    handleSelect(key, keyPath){
      if(key[0] == '1'){
        if(this.$route.path == "/") return;
        this.$router.push("/");
      }else if(key[0] == '2'){
        if(this.$route.path == "/exp") return;
        this.$router.push("/exp");
      }
    }
  }
}
</script>

<style lang="scss">
  body, html{
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #app {
    // background: linear-gradient(341.15deg, #F9CCBE 2.41%, #FDE9D6 34.06%, #5AD8F3 75.46%, #1583D2 119.3%);
    width: 100%;
    min-height: 100%;
    padding: 0px 0 50px 0;
  }

  .bg{
    background: linear-gradient(341.15deg, #F9CCBE 2.41%, #FDE9D6 34.06%, #18E1DE 75.46%, #18E1DE 119.3%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
</style>
