<template lang="pug">
  .exp-beta
    .title 實境體驗
    .data-container
      .sub-title 累積使用人次： {{ Object.keys(originalData).length}}
      .sub-title 過關人次： {{ calPassCount() }}
      .sub-title 平均闖關時間： {{ calAvgPassTime() }}
      .sub-title 時間區間選擇：
      el-date-picker(
        v-model="timePeriod"
        type="daterange"
        align="right"
        unlink-panels
        range-separator="至"
        start-placeholder="開始日期"
        end-placeholder="结束日期"
        value-format="timestamp"
        @change="timeSelect"
        :picker-options="pickerOptions")
      .sub-title 篩選
      .filters
        .item(@click="addFilter(0)", :class="{'active': filters[0]==1}") 開始時間
        .item(@click="addFilter(1)", :class="{'active': filters[1]==1}") 名字
        .item(@click="addFilter(2)", :class="{'active': filters[2]==1}") 組別
        .item(@click="addFilter(3)", :class="{'active': filters[3]==1}") 年齡
        .item(@click="addFilter(4)", :class="{'active': filters[4]==1}") 性別
        .item(@click="addFilter(5)", :class="{'active': filters[5]==1}") 電廠知多少
        .item(@click="addFilter(6)", :class="{'active': filters[6]==1}") 能源知多少
        .item(@click="addFilter(7)", :class="{'active': filters[7]==1}") 發電王
        .item(@click="addFilter(8)", :class="{'active': filters[8]==1}") 電力放送站
        .item(@click="addFilter(9)", :class="{'active': filters[9]==1}") 前測問卷
        .item(@click="addFilter(10)", :class="{'active': filters[10]==1}") 後測問卷
      .table-container
        .col-title
          .item(v-if="filters[0]==1") 開始時間
          .item(v-if="filters[1]==1") 名字
          .item(v-if="filters[2]==1") 組別
          .item(v-if="filters[3]==1") 年齡
          .item(v-if="filters[4]==1") 性別
          .item(v-if="filters[5]==1") 電廠知多少
          .item(v-if="filters[5]==1") 
          .item(v-if="filters[6]==1") 能源知多少
          .item(v-if="filters[6]==1") 
          .item(v-if="filters[7]==1") 發電王
          .item(v-if="filters[7]==1") 
          .item(v-if="filters[8]==1") 電力放送站
          .item(v-if="filters[8]==1") 
          .item(v-if="filters[9]==1") 前測問卷
          .item(v-if="filters[9]==1")
          .item(v-if="filters[10]==1") 後測問卷
          .item(v-if="filters[10]==1")
        .col(v-for="student in data")
          .item(v-if="filters[0]==1") {{ parseInt(student.time) | moment("YYYY年MM月DD日 \n hh:mm:ss") }}
          .item(v-if="filters[1]==1") {{ student.name }}
          .item(v-if="filters[2]==1") {{ student.group_id }}
          .item(v-if="filters[3]==1") {{ student.age }}
          .item(v-if="filters[4]==1") {{ student.sex }}
          .row(type="電廠知多少" v-if="filters[5]==1")
            .item
              .child-item 各題回答的選項
              .child-item {{qaGameList(student)}}
            .item
              .child-item 各題花費時間
              .child-item {{qaGameListTime(student)}}
            .item
              .child-item 答對率%
              .child-item {{student.qaGame.correctRate || 0}} %
            .item
              .child-item 各題平均花費時間
              .child-item {{qaGameListTimeAvg(student)}}s
          .row(type="能源知多少" v-if="filters[6]==1")
            .item
              .child-item miss次數
              .child-item {{student.phase01data.q1miss}}
            .item
              .child-item 答錯次數
              .child-item {{student.phase01data.q1wrong}}
            .item
              .child-item 過關花費時間
              .child-item {{student.phase01data.q1spenttime.toFixed(2)}}s
            .item
              .child-item 知識內容點擊次數
              .child-item {{student.phase01data.q1knowledge}}
            .item
              .child-item 知識內容閱讀時間
              .child-item {{student.phase01data.q1readtime.toFixed(2)}}s
          .row(type="發電王" v-if="filters[7]==1")
            .item
              .child-item miss次數
              .child-item {{student.phase02data.q2miss}}
            .item
              .child-item 過關花費時間
              .child-item {{student.phase02data.q2spenttime.toFixed(2)}}s
            .item
              .child-item 知識內容點擊次數
              .child-item {{student.phase02data.q2knowledge}}
            .item
              .child-item 知識內容閱讀時間
              .child-item {{student.phase02data.q2readtime.toFixed(2)}}s
          .row(type="電力放送站" v-if="filters[8]==1")
            .item
              .child-item miss次數
              .child-item {{student.phase03data.q3miss}}
            .item
              .child-item 過關花費時間
              .child-item {{student.phase03data.q3spenttime.toFixed(2)}}s
            .item
              .child-item 知識內容點擊次數
              .child-item {{student.phase03data.q3knowledge}}
            .item
              .child-item 知識內容閱讀時間
              .child-item {{student.phase03data.q3readtime.toFixed(2)}}s
          .row(type="前測問卷" v-if="filters[9]==1")
            .item
              .child-item 各題回答的選項
              .child-item {{pretestList(student)}}
            .item
              .child-item 答對率%
              .child-item {{ student.pretest.pretest_correct_rate}}%
            .item
              .child-item 答題總花費時間
              .child-item {{student.pretest.pretestSpenttime.toFixed(2)}}s
          .row(type="後測問卷" v-if="filters[10]==1")
            .item
              .child-item 各題回答的選項
              .child-item {{aftertestList(student)}}
            .item
              .child-item 答對率%
              .child-item {{ student.aftertest_data.aftertest_correct_rate.toFixed(2)}}%
            .item
              .child-item 答題總花費時間
              .child-item {{student.aftertest_data.aftertest_spenttime.toFixed(2)}}s
    loading(:active.sync="isLoading" :can-cancel="false" :is-full-page="fullPage")
</template>

<script>
// @ is an alias to /src
import firebase from 'firebase'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: 'boardgame',
  data(){
    return{
      data:[],
      originalData:[],
      filters:[1,1,1,1,1,1,1,1,1,1,1,1,1,1],
      pickerOptions: {
          shortcuts: [{
            text: '最近一周',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        timePeriod: '',
        isLoading: true,
        fullPage: true,
        targetDB: ''
    }
  },
  components: {
    Loading
  },
  mounted(){
    this.initFB();
    let vm = this;
    this.targetDB.database().ref('/ARGuideData/').once('value').then(function(snapchat){
      let _data =  snapchat.val();
      for(let item in _data){
        _data[item].time = item.split('_')[1];
        _data[item].name = item.split('_')[0];
        if(!_data[item].hasOwnProperty("qaGame")) _data[item].qaGame = {};
        if(!_data[item].hasOwnProperty("phase01data")) _data[item].phase01data = {};
        if(!_data[item].hasOwnProperty("phase02data")) _data[item].phase02data = {};
        if(!_data[item].hasOwnProperty("phase03data")) _data[item].phase03data = {};
        if(!_data[item].hasOwnProperty("pretest")) _data[item].pretest = {};
        if(!_data[item].hasOwnProperty("aftertest_data")) _data[item].aftertest_data = {};
      }
      vm.data = vm._.sortBy(_data, [function(o){return parseInt(o.time.split('_')[1]) }]);
      vm.originalData = vm.data;
      vm.isLoading = false;
      console.log(vm.originalData);
    });
    
  },
  methods:{
    initFB(){
      let firebaseConfig = {
        apiKey: "AIzaSyDOeSB0i4V709dCWUvWUeVpCakrfnEUqjw",
        authDomain: "tpower-22dda.firebaseapp.com",
        databaseURL: "https://tpower-22dda.firebaseio.com",
        projectId: "tpower-22dda",
        storageBucket: "tpower-22dda.appspot.com",
        messagingSenderId: "48840023412",
        appId: "1:48840023412:web:4951e710f6cb8f4387a021"
      };
      if(firebase.apps.length > 0){
        this.targetDB = firebase.initializeApp(firebaseConfig, "expbeta");
      }else{
        this.targetDB = firebase.initializeApp(firebaseConfig);
      }
    },
    addFilter(_index){
      this.$set(this.filters, _index, (this.filters[_index]+1)%2);
    },
    timeSelect(){
      let result = [];
      for(let item of this.originalData){
        console.log(item);
        if(parseInt(item.time)*1000 >= parseInt(this.timePeriod[0]) && parseInt(item.time)*1000 <= parseInt(this.timePeriod[1]) ){
          result.push(item);
        }
      }
      this.data = result;
    },
    answerListFixer(_data, ansType, student){
      if(_data.hasOwnProperty("answerList")){
        let tempData = "";
        for(let _item in _data.answerList){
          if(_data.answerList[_item].questionState == ansType){
            tempData += '(' + _data.answerList[_item].questionName +') ';
          }
        }
        return tempData;
      }else{
        return "";
      }
    },
    calTotalPoints(player){
      let _total = 0;
      for(let _item in player){
        _total += player[_item].point;
      }
      return _total
    },
    calCorrectRatio(_data, ansType, student){
      if(_data.hasOwnProperty("answerList")){
        let correctCount = 0;
        let errorCount = 0;
        for(let _item in _data.answerList){
          if(_data.answerList[_item].questionState == true){
            correctCount++;
          }else{
            errorCount++;
          }
        }
        if(ansType){
          return (correctCount/_data.answerList.length).toFixed(2)*100+'%';
        }else{
          return (1-correctCount/_data.answerList.length).toFixed(2)*100+'%';
        }
      }else{
        return "";
      }
    },
    qaGameList(student){
      let result = "";
      if(student.hasOwnProperty("qaGame"))
        result = ` ${student.qaGame.qaq1} ${student.qaGame.qaq2} ${student.qaGame.qaq3} ${student.qaGame.qaq4}`;
      return result;
    },
    qaGameListTime(student){
      let result = "";
      if(student.hasOwnProperty("qaGame"))
        result = ` ${student.qaGame.qaq1time} ${student.qaGame.qaq2time} ${student.qaGame.qaq3time} ${student.qaGame.qaq4time}`;
      return result;
    },
    qaGameListTimeAvg(student){
      let result = 0;
      if(student.hasOwnProperty("qaGame")){
        result =  student.qaGame.qaq1time + student.qaGame.qaq2time + student.qaGame.qaq3time + student.qaGame.qaq4time ;
        result /=4;
      }
      return result;
    },
    pretestList(student){
      let result = "";
      result = "  " +student.pretest.pretestq1 + student.pretest.pretestq2 + student.pretest.pretestq3 + student.pretest.pretestq4 + student.pretest.pretestq5 + student.pretest.pretestq6 + student.pretest.pretestq7;
      return result;
    },
    aftertestList(student){
      let result = " ";
      if(student.aftertest_data.hasOwnProperty("aftertestq1")){
        if(student.aftertest_data.hasOwnProperty("aftertestq13")){
          result = student.aftertest_data.aftertestq1.toString() + student.aftertest_data.aftertestq2.toString() + student.aftertest_data.aftertestq3.toString() + student.aftertest_data.aftertestq4.toString() + student.aftertest_data.aftertestq5.toString() + student.aftertest_data.aftertestq6.toString() + student.aftertest_data.aftertestq7.toString() + student.aftertest_data.aftertestq8.toString() + student.aftertest_data.aftertestq9.toString() + student.aftertest_data.aftertestq10.toString() + student.aftertest_data.aftertestq11.toString() + student.aftertest_data.aftertestq12.toString() + student.aftertest_data.aftertestq13.toString();
        }
      }
      return result;
    },
    pushData(){
      let data = {"aftertest_data":{"aftertest_spenttime":133.234,"aftertestq1":1,"aftertestq10":2,"aftertestq11":3,"aftertestq12":2,"aftertestq13":1,"aftertestq2":2,"aftertestq3":1,"aftertestq4":3,"aftertestq5":2,"aftertestq6":3,"aftertestq7":1,"aftertestq8":1,"aftertestq9":1},"age":13,"group_id":1,"is_game_completed":true,"is_game_played":true,"phase01data":{"q1knowledge":1,"q1miss":2,"q1readtime":13.23,"q1spenttime":12.32,"q1wrong":3},"phase02data":{"q2knowledge":1,"q2miss":2,"q2readtime":22.45,"q2spenttime":32.2},"phase03data":{"q3knowledge":2,"q3miss":2,"q3readtime":22.2,"q3spenttime":23.3},"playtime":"this_is_a_timestamp","pretest":{"pretestSpenttime":112.23,"pretestq1":1,"pretestq2":2,"pretestq3":2,"pretestq4":1,"pretestq5":2,"pretestq6":3,"pretestq7":2},"qaGame":{"qaq1":1,"qaq1time":10,"qaq2":2,"qaq2time":12,"qaq3":3,"qaq3time":23,"qaq4":2,"qaq4time":10},"sex":"boy","total_timespent":1023.23};
      this.targetDB.database().ref('/arGuideData/').child("ss_1574326749").set(data);
      this.targetDB.database().ref('/arGuideData/').child("tea2_1574436749").set(data);
      this.targetDB.database().ref('/arGuideData/').child("tea_1574336749").set(data);
      this.targetDB.database().ref('/arGuideData/').child("小王_1574438749").set(data);
    },
    calAvgPassTime(){
      let pass = 0;
      let count = 0;
      for(let i of this.originalData){
        if(i.is_game_completed){
          pass+=i.total_timespent;
          count++;
        } 
      }
      return pass/count;
    },
    calPassCount(){
      let pass = 0;
      for(let i of this.originalData){
        if(i.is_game_completed) pass++;
      }
      return pass;
    }
  }
}
</script>

<style lang="scss" scoped>
$item-width: 120px;
.exp-beta{
  .title{
    color: white;
    text-align: center;
    font-size: 38px;
    margin: 20px;
    font-weight: 500;
  }
  .data-container{
    background-color: #fff;
    border-radius: 20px;
    height: 85%;
    width: 85%;
    margin: auto;
    padding: 30px;
    overflow: auto;
    .sub-title{
      font-size: 20px;
      margin: 15px 0;
      color: gray;
    }
    .filters{
      .item{
        border: 1px solid #A7A7A7;
        border-radius: 5px;
        padding: 5px 10px;
        display: inline-block;
        margin: 5px;
        cursor: pointer;
        &:hover{
          background-color: #A7A7A7;
          color: white;
        }
        &.active{
          color: white;
          background-color: #DA498B;
        }
      }
    }
    .table-container{
      // width: 100%;
      overflow: auto;
    }
    .col-title, .col{
      display: inline-flex;
      .item{
        max-width: $item-width;
        min-width: $item-width;
        width: $item-width;
        text-align: right;
        font-size: 10px;
        margin: 5px 0;
      }
    }
    .row{
      min-width: 240px;
      .item{
        display: flex;
        
        .child-item{
          margin: 5px 0;
          max-width: $item-width;
          min-width: $item-width;
          width: $item-width;
        }

      }
    }

    .empty-row{
      min-width: 120px;
    }


    .col-title{
      .item{
        font-size: 16px;
        margin: 10px 0;
        background-color: #3D147C;
        padding: 5px;
        box-sizing: border-box;
        color: white;
      }
    }
    .col{
      color: gray;
      border: 1px #F9CCBE solid;
      border-width: 0 0 1px 0;
    }
    .col:nth-child(even){
      background-color: rgba(0,0,0,0.05);
    }
  }
  .boy{
    color: blue;
  }
  .girl{
    color: red;
  }
}
</style>
